G1_HOST=192.168.8.18
G1_USER=unitree
G1_NETWORK_INTERFACE=tap-g1
TELEOP_PATH=/home/xd4robotics/xr_teleoperate/teleop
CONDA_PATH=/home/xd4robotics/miniconda3/bin/conda
CONDA_ENV=tv
PYTHON_PATH=/home/xd4robotics/miniconda3/envs/tv/bin/python
VUER_PORT=8012
TELEIMAGER_CONFIG_PORT=60000
TELEIMAGER_ZMQ_PORT=55555
TELEIMAGER_WEBRTC_PORT=60001
WEBRTC_PROXY_HOST=192.168.8.24
CAMERA_STARTUP_TIMEOUT_MS=60000
G1_TELEIMAGER_PATH=/home/unitree/teleimager
SSH_PRIVATE_KEY=/home/xd4robotics/.ssh/id_ed25519
PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
